
<footer class="border-top footer text-muted">
    <div class="container">
        Copyright &copy; @DateTime.Now.Year Sikora Digital, LLC, All rights reserved - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>