<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <partial name="_Header" />
    <div class="m-3">
        <div class="container-flex">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-3">
                    <partial name="_LeftSidebar" />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-7">
                    <main role="main" class="pb-4">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
    <partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/f41a6f8ac0.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
