@{
    ViewData["Title"] = "Contact";
}

<div class="card" id="contact">
    <div class="card-header">
        <h3>Contact Information</h3>
    </div>
    <div class="card-body">
        <p>I can be reached via phone at 631-404-5510</p>
        <p>I can be reached via email at adam@sikoradigital.com</p>

    </div>
</div>


   





